body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #292b2c;
  background-color: #c2f0ed;
  margin: 0;
  padding: 20px;
}

.bodytext-Title {
  font-weight: 300;
  margin-bottom: 15px;
}
